---
title: Call for Papers
layout: page
slide_id: 2
---

<div class="row mt-2">
    <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6 text-justify">
        <div class="conference-text">
            <p class="lead">Call For Papers</p>
            
            <p>{{site.data.cfp.description}}.</p>

            {% if site.data.cfp.submission %}
                <p>
                    Submitted papers must be at most {{site.data.submission.pagelimits.paper.limit}} pages long, excluding references and appendices, in {{site.data.submission.template.details}} 
                    <a href="{{site.data.submission.template.url}}">{{site.data.submission.template.name}}</a>. 
                    Authors of accepted submissions are expected to present and discuss their work at the workshop. 
                    All submissions will be peer-reviewed, and the review process will be double-blind. 
                    Per the anonymity guidelines, please prepare your paper in a way that preserves the anonymity of the authors. 
                    No information will be shared with third parties.
                </p>
                    Please submit your paper using the {{site.data.submission.portal}}:
                    <a href="{{site.data.submission.url}}">{{site.data.submission.url}}</a>.
                </p>
            {% endif %}
        </div>

        {% include card-important-dates.html %}

        <div class="conference-text">
            <h5>Contact</h5>
            <p class="text-left">
                If you have any problems or questions about your paper's submission, please contact us via e-mail at:
                <a href="mailto:{{ site.data.submission.email }}">
                    <i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i>
                    {{ site.data.submission.email }}
                </a>
            </p>
        </div>
    </div>
    <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6 conference-text">
        {% if site.data.cfp %}
        <p>
            The areas of interest include, but are not limited to:
        </p>
        <ul>
            {% for area in site.data.cfp.areas %}
                {% if area.category %}
                    <li><b>{{area.category}}</b></li>
                    {% if area.topics %}
                    <ul>
                        {% for topic in area.topics %}
                        <li>{{topic}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% else %}
                    {% if area.topics %}
                        {% for topic in area.topics %}
                        <li>{{topic}}</li>
                        {% endfor %}
                    {% endif %}
                {% endif %}    
            {% endfor %}
        </ul>
        {% endif %}

    </div>
</div>
